<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<body>
    <!--header-->



    <!--content-->
    <!---->
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">

                <div class=" rsidebar span_1_of_left">
                    <div class="of-left">
                        <h3 class="cate">Categories</h3>
                    </div>
                    <ul class="menu">
                        <li class="item1">
                            <a href="~/product/productiil">INTERNATIONAL INDUSTRIES LTD </a>
                           
                        </li>
                        <li class="item2">
                            <a href="~/product/productinsha">INSHA INDUSTRIES (pvt)LTD </a>
                           
                        </li>
                        
                        

                        
                    </ul>
                </div>
               
            </div>
            <div class="col-md-9 product-price1">
                <div class="col-md-5 single-top">
                    <div class="flexslider">
                       
                           
                                <img src="~/Content/images/pi3.jpg" />
                          
                    
                    </div>
                    <!-- FlexSlider -->
                    <script defer src="~/Content/js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                </div>
                <div class="col-md-7 single-top-in simpleCart_shelfItem">
                    <div class="single-para ">
                        <h4>Galvanized Pipe(GI)</h4>
                        <div class="star-on">
                            <ul class="star-footer">
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                            </ul>
                            
                            <div class="clearfix"> </div>
                        </div>

                        <h5 class="item_price">Price per foot</h5>
                        <br />$12.00 - 15 x 1.80 mm
                        <br />&17.00 - 30 x 3.50 mm
                        <br />$30.00 - 60 x 5.00 mm
                            <p>
                                IIL galvanized (GI) pipes are made from prime quality steel coil and galvanized using
                                the highest quality zinc. Corrosion and rust resistant, IIL GI pipes are certified as
                                European Conformity Standards (CE) and are manufactured in accordance with
                                the highest international standards (BS 1387:1985, ASTM A53, EN39, SLS829:2009)
                            </p>
                            <div class="available">
                                <ul>
                                    <li>
                                        Shape
                                        <select>
                                            <option>Circle</option>
                                            <option>Square</option>
                                          
                                            
                                        </select>
                                    </li>
                                    <li class="size-in">
                                        Size<select>
                                            <option>15 x 1.80 mm</option>
                                            <option>30 x 3.50 mm</option>
                                            <option>60 x 5.00 mm</option>

                                        </select>
                                    </li>
                                   
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                            <ul class="tag-men">
                                <li>
                                    <span>TAG</span>
                                    <span class="women1">: IIL </span>
                                </li>
                               
                            </ul>
                          
                            <br /><br />
</div>
                </div>
                <div class="clearfix"> </div>
                <!---->
                <div class="cd-tabs">
         
                </div>
               
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->
    
</body>
</html>
