<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<body>
    <!--header-->
    <!--content-->
    <!---->
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">

                <div class=" rsidebar span_1_of_left">
                    <div class="of-left">
                        <h3 class="cate">Categories</h3>
                    </div>
                    <ul class="menu">
                        <li class="item1">
                            <a href="~/product/productiil">INTERNATIONAL INDUSTRIES LTD </a>

                        </li>
                        <li class="item2">
                            <a href="~/product/productinsha">INSHA INDUSTRIES (pvt)LTD </a>

                        </li>
                       


                    </ul>
                </div>

            </div>
            <div class="col-md-9 product-price1">
                <div class="col-md-5 single-top">
                    <div class="flexslider">
                        <ul class="slides">
                            
                                <img src="~/Content/images/t31.jpg" />
                            
                        </ul>
                    </div>
                    <!-- FlexSlider -->
                    <script defer src="~/Content/js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                </div>
                <div class="col-md-7 single-top-in simpleCart_shelfItem">
                    <div class="single-para ">
                        <h4>Lorem Ipsum</h4>
                        <div class="star-on">
                            <ul class="star-footer">
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                            </ul>
                            
                            <div class="clearfix"> </div>
                        </div>

                        <h5 class="item_price">$ 95.00</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                            diam nonummy nibh euismod tincidunt ut laoreet dolore
                            magna aliquam erat
                        </p>
                        <div class="available">
                            <ul>
                                <li>
                                    Shape
                                    <select>
                                        <option>Circle</option>
                                        <option>Square</option>
                                        <option>Elliptical</option>
                                        <option>Rectangle</option>
                                    </select>
                                </li>
                                <li class="size-in">
                                    Size<select>
                                        <option>Large</option>
                                        <option>Medium</option>
                                        <option>small</option>
                                        <option>Large</option>
                                        <option>small</option>
                                    </select>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <ul class="tag-men">
                            <li>
                                <span>TAG</span>
                                <span class="women1">: </span>
                            </li>
                            <li>
                                <span>SKU</span>
                                <span class="women1">: CK09</span>
                            </li>
                        </ul>
                        <a href="#" class="add-cart item_add">ADD TO CART</a>
                        <br /><br />
                    </div>
                </div>
                <div class="clearfix"> </div>
                <!---->
                <div class="cd-tabs">

                </div>

            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->

</body>
</html>
