<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<body>
    <!--header-->
    <!--content-->
    <!---->
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">

                <div class=" rsidebar span_1_of_left">
                    <div class="of-left">
                        <h3 class="cate">Categories</h3>
                    </div>
                    <ul class="menu">
                        <li class="item1">
                            <a href="~/product/productiil">INTERNATIONAL INDUSTRIES LTD </a>

                        </li>
                        <li class="item2">
                            <a href="~/product/productinsha">INSHA INDUSTRIES (pvt)LTD </a>

                        </li>
                        <li class="item3">
                            <a href="~/product/productpak">PAKISTAN STEEL</a>

                        </li>




                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                <!---->
                <div class="product-middle">

                    <div class="fit-top">
                        <h6 class="shop-top">CR PIPE</h6>
                        <a href="~/home/single" class="shop-now">SHOP NOW</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="sellers">
                    <div class="of-left-in">
                        <br /><br />
                        <h3 class="tag">Tags</h3>
                    </div>

                    <div class="tags">
                        <ul>
                            <li><a href="#">H.R</a></li>
                            <li><a href="#">C.R</a></li>
                            <li><a href="#">G.I</a></li>
                            <li><a href="#">PPRC</a></li>


                            <div class="clearfix"> </div>
                        </ul>

                    </div>

                </div>
                <!---->
                <br /><br />
                <div class="product-bottom">
                    <div class="of-left-in">
                        <h3 class="best">Best Sellers</h3>
                    </div>
                    <div class="product-go">
                        <div class=" fashion-grid">
                            <a href="~/home/single"><img class="img-responsive " src="~/Content/images/p1.jpg" alt=""></a>

                        </div>
                        <div class=" fashion-grid1">
                            <h6 class="best2">
                                <a href="~/home/single">
                                    CEMENTED PIPES
                                </a>
                            </h6>

                            <span class=" price-in1"> $40.00</span>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                    <div class="product-go">
                        <div class=" fashion-grid">
                            <a href="~/home/single"><img class="img-responsive " src="~/Content/images/p2.jpg" alt=""></a>

                        </div>
                        <div class="fashion-grid1">
                            <h6 class="best2">
                                <a href="~/home/single">
                                    COLD ROLLED SQUARE SHAPE
                                </a>
                            </h6>

                            <span class=" price-in1"> $40.00</span>
                        </div>

                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class=" per1">
                    <a href="~/home/single">
                        <img class="img-responsive" src="~/Content/images/pro.jpg" alt="">
                        <div class="six1">

                        </div>
                    </a>
                </div>
            </div>
            <h3><b>PAKISTAN STEEL</b></h3>
            <br /><br />

            <div class="col-md-9 product1">
                <div class=" bottom-product">
                    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="~/single/single6">
                                <img class="img-responsive" src="~/Content/images/t31.jpg" alt="">
                                <div class="pro-grid">
                                    <span class="buy-in">Buy Now</span>
                                </div>
                            </a>
                        </div>

                        <p class="tun"><b>Seamless tubes </b>are mostly used to transport high pressure gas</p>
                        <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
                    </div>
                    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="~/single/single7">
                                <img class="img-responsive" src="~/Content/images/pi2.jpg" alt="">
                                <div class="pro-grid">
                                    <span class="buy-in">Buy Now</span>
                                </div>
                            </a>
                        </div>
                        <p class="tun">Hot rolled products like hot rolled steel bars are used in the welding</p>
                        <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
                    </div>
                    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="~/single/single8">
                                <img class="img-responsive" src="~/Content/images/piii.jpg" alt="">
                                <div class="pro-grid">
                                    <span class="buy-in">Buy Now</span>
                                </div>
                            </a>
                        </div>
                        <p class="tun">SS are significantly more resistant to oxidation by water and biocides</p>
                        <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                
                

            </div>
            <div class="clearfix"> </div>
            <nav class="in">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="~/product/product2">2 <span class="sr-only"></span></a></li>

                    <li> <a href="#" aria-label="Next"><span aria-hidden="true">»</span> </a> </li>
                </ul>
            </nav>
        </div>

    </div>

    <!---->
    <!--//content-->

</body>
</html>
