<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<body style="background-color: #cafac2">
    <!--header-->
    <!--content-->
    <div class="blog">
        <div class="container">
            <h1>Blog</h1>
            <div class="blog-top">
                <div class="col-md-6 grid_3">
                    <h3><a href="#">STAINLESS STEEL</a></h3>
                    <a href="#"><img src="~/Content/images/b1.jpg" class="img-responsive" alt="" /></a>

                    <div class="blog-poast-info">

                    </div>
                    <p>IIL COSMO is a Stainless steel Grade 304 premium stainless steel tube that can be used in a variety of ornamental applications..</p>

                </div>
                <div class="col-md-6 grid_3">
                    <h3><a href="#">HOT ROLLED</a></h3>
                    <a href="#"><img src="~/Content/images/b2.jpg" class="img-responsive" alt="" /></a>

                    <div class="blog-poast-info">

                    </div>
                    <p> Hot rolled products like hot rolled steel bars are used in the welding and construction trades to make railroad tracks.</p>

                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="blog-top">
                <div class="col-md-6 grid_3">
                    <h3><a href="#">COLD ROLLED</a></h3>
                    <a href="#"><img src="~/Content/images/b3.jpg" class="img-responsive" alt="" /></a>

                    <div class="blog-poast-info">

                    </div>
                    <p>Cold rolled steel sheets offer a variety of outstanding properties, including easy formability and a smooth, </p>

                </div>
                <div class="col-md-6 grid_3">
                    <h3><a href="#">MILD STEEEL</a></h3>
                    <a href="#"><img src="~/Content/images/b4.jpg" class="img-responsive" alt="" /></a>

                    <div class="blog-poast-info">

                    </div>
                    <p>Mild Steel (MS) pipes are manufactured using low carbon (less than 0.25%) steel..</p>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="blog-bottom">
                <div class="col-md-6 grid_3">

                </div>
                <div class="col-md-6 grid_3">

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//content-->

</body>
</html>
