@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/assets/ico/favicon.png">
    <title>CV</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/smoothscroll.js"></script>
    <script src="~/assets/js/Chart.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/assets/js/html5shiv.js"></script>
      <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-offset="0" data-target="#nav">
    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul id="nav" class="nav">
                            <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
                        </ul><!--/ uL#nav -->
                    </div><!-- /.dropdown -->
                    <div class="clear"></div>
                </div><!--/.row -->
            </div><!--/.container -->
            <div class="clear"></div>
        </div><!--/ #topbar-inner -->
    </div><!--/ #section-topbar -->

    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Zainab Nazim</h1>
                    <h4>IT Professional </h4>

                </div><!--/.collg-12 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/.#headerwrap -->

    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>ABOUT</h5>
                </div>
                <div class="col-lg-6">
                    <p>Seek a challenging job in an IT company with an innovative working environment where I can excel with continuous hard work and learning.</p>
                </div>
                <div class="col-lg-3">
                    <p><a href="#"><i class="icon-file"></i></a> <sm>DOWNLOAD PDF</sm></p>
                </div>

            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/ #intro -->

    <section id="resume" name="resume"></section>
    <!--EDUCATION DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>EDUCATION</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>BS Information Technology </t><br />
                    Punjab University(PUCIT) <br />
                    <i>Current CGPA 3.39 </i>
                </p>
                <p>
                    <t>FSc. Pre Engineering  </t><br />
                    Lahore College University for Women (LCUW) <br />
                    <i>Percentage 84.56% </i>
                </p>
                <p>
                    <t>Matric with Sciences   </t><br />
                    Unique School System <br />
                    <i>Percentage 91.33% </i>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2013 To Date</sm><br />
                    <imp><sm>DONE</sm></imp>
                </p><br><br>
                <p>
                    <sm>2011-2013</sm><br />
                    <br><br>
                <p>
                    <sm>2009-2011</sm><br />

                </p>
            </div>





        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->
    <!--WORK DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>WORK</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Tic Tac Toe Game (CLI) </t><br />

                </p>
                <p>
                    <more>
                        It was developed in first semester as the term project of subject
                        Fundamental Programming. It was also developed in C++.
                    </more>
                </p>
            </div>


            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Online Fast Food Order</t><br />

                </p>
                <p>
                    <more>
                        It was developed in third semester as the term project of subject
                        Software Engineering. It was also developed in java.
                    </more>
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Result Management System</t><br />

                </p>
                <p>
                    <more>
                        Implementation of Result Management System in the data base perspective using
                        Oracle 10g.It was developed in fourth semester as the term project of subject Database.
                    </more>
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Online Hostel Management System </t><br />

                </p>
                <p>
                    <more>
                        It was developed in Fifth semester as term project of subject Java using
                        JSP, MySQL Yog, HTML, CSS and JavaScript. Tomcat used as server.
                    </more>
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>POS, Flip-flop </t><br />

                </p>
                <p><more>It was developed in Sixth semester as an Assignment of subject  Enterprise Application Development.</more></p>
            </div>

        </div><!--/.row -->
        <br>
        <hr>
    </div><!--/.container -->
    <!--AWARDS DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>LANGUAGES</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>English</t><br />
                    speak fluently and read/write with high proficiency <br />
                </p>
            </div>


            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Urdu</t><br />
                    speak fluently and read/write with high proficiency
                </p>

            </div>


        </div><!--/.row -->
        <br>
    </div><!--/.container -->

    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>HOBBIES AND INTERESTS</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    Software Development </br>
                    Graphic Design</br>
                    Art and Craft</br>

                </p>
            </div>



        </div><!--/.row -->
        <br>
    </div><!--/.container -->
    <!--SKILLS DESCRIPTION -->
    <div id="skillswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>SKILLS</h5>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="javascript" height="130" width="130"></canvas>
                    <p>C++</p>
                    <br>
                    <script>
                        var doughnutData = [
                                {
                                    value: 70,
                                    color: "#1abc9c"
                                },
                                {
                                    value: 30,
                                    color: "#ecf0f1"
                                }
                        ];
                        var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="DataBase" height="130" width="130"></canvas>
                    <p>DataBase</p>
                    <br>
                    <script>
                        var doughnutData = [
                                {
                                    value: 90,
                                    color: "#1abc9c"
                                },
                                {
                                    value: 10,
                                    color: "#ecf0f1"
                                }
                        ];
                        var myDoughnut = new Chart(document.getElementById("DataBase").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="wordpress" height="130" width="130"></canvas>
                    <p>JavaScript</p>
                    <br>
                    <script>
                        var doughnutData = [
                                {
                                    value: 60,
                                    color: "#1abc9c"
                                },
                                {
                                    value: 40,
                                    color: "#ecf0f1"
                                }
                        ];
                        var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

                <div class="col-lg-3 col-lg-offset-3 centered">
                    <canvas id="html" height="130" width="130"></canvas>
                    <p>HTML/CSS</p>
                    <br>
                    <script>
                        var doughnutData = [
                                {
                                    value: 80,
                                    color: "#1abc9c"
                                },
                                {
                                    value: 20,
                                    color: "#ecf0f1"
                                }
                        ];
                        var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="photoshop" height="130" width="130"></canvas>
                    <p>MySQL</p>
                    <br>
                    <script>
                        var doughnutData = [
                                {
                                    value: 70,
                                    color: "#1abc9c"
                                },
                                {
                                    value: 30,
                                    color: "#ecf0f1"
                                }
                        ];
                        var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="c#" height="130" width="130"></canvas>
                    <p>c#</p>
                    <br>
                    <script>
                        var doughnutData = [
                                {
                                    value: 50,
                                    color: "#1abc9c"
                                },
                                {
                                    value: 50,
                                    color: "#ecf0f1"
                                }
                        ];
                        var myDoughnut = new Chart(document.getElementById("c#").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
            </div><!--/.row -->
            <br>
        </div><!--/.container -->
    </div><!--/ #skillswrap -->

    <section id="work" name="work"></section>
    <!--PORTFOLIO DESCRIPTION -->
    </div><!--/.row -->
    <br>
    <br>
    </div><!--/.container -->


    <section id="contact" name="contact"></section>
    <!--FOOTER DESCRIPTION -->
    <div id="footwrap">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONTACT</h5>
                </div>
                <div class="col-lg-6">
                    <p>
                        <t>Father's Name</t></br>
                        Muhammad Nazim Sheikh <br />
                    </p>
                    <p>
                        <t>Gender</t><br />
                        Female <br />
                    </p>
                    <p>
                        <t>Nationality</t><br />
                        Pakistan <br />
                    </p>
                    <p>
                        <t>Email</t><br />
                        zainab.lahore123@gmail.com <br />
                    </p>
                    <p>
                        <t>Adress</t><br />
                        House No. 125, Memdot <br />
                        Block Mustafa Town, <br />
                        Lahore, Pakistan. <br />
                    </p>
                    <p>
                        <t>Phone</t><br />
                        +92 324 4397244 <br />
                    </p>
                </div>
                <div class="col-lg-3">
                    <p><sm>SOCIAL LINKS</sm></p>
                    <p>
                        <a href="#"><i class="icon-dribbble"></i></a>
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-apple"></i></a>
                    </p>
                </div>
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/ #footer -->

    <div id="c">
        <div class="container">


        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/assets/js/bootstrap.js"></script>
</body>
</html>

